# Python Basic
Python Fundamental

Python coding

In [1]:
print("Hello Neotech")

Hello Neotech

In [2]:
print("Hello Mithil")

Hello Mithil

# Python Variable

In [3]:
var1 = "Python"
a = 55
b = 96
print(var1)
print(a)
print(b)

sum = a+b
print(sum)

Python
55
96
151

In [4]:
# variable
var1=20
var2=30

var3= var1+var2
print(var3)

50

In [5]:
var4=var1*var2
var4

600

In [6]:
var5=var1/var2
var5

0.6666666666666666

In [7]:
var6=var1-var2
var6

-10

In [8]:
count=500
km=1000
name="Mithil"
a,b,c=5,9,"Neotech"
print("my name is Mithil")
print(count,km,name,sep='*')
print(a,b,c,sep='/')

my name is Mithil
500*1000*Mithil
5/9/Neotech

In [9]:
a=b=c=5

a
b
c

print(a,b,c)

5 5 5

In [10]:
x,y,z=13,20,21
y

20

In [11]:
del y

# Data type
numerical data types
int
float
complex

In [12]:
a=99
b=85.56
c=3.14j
d="sap"
e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [13]:
#how to take input from user
#ask the user to enter the value of x and store it in varible x
x = int(input("Enter  the value of x: "))


#ask the user to enter the value of x and store it in varible y
y = int(input("Enter  the value of y: "))

#perform any mathemetical operation on user input 
z = x+y

#print the answer
z

Enter  the value of x: 9
Enter  the value of y: 8

17

# String

In [14]:
str1="i like python programing language"
str1

'i like python programing language'

In [15]:
str2=" number one"
str2

' number one'

In [16]:
str4=str1+str2
str4

'i like python programing language number one'

In [84]:
#string indexing and slicing

name="Neotech Institute Of Technology"
print(name)
print(len(name))

Neotech Institute Of Technology
31

In [18]:
name[7]

' '

In [19]:
name[4]

'e'

In [20]:
name[-5]

'o'

In [21]:
name="my name is Mithil"
print(name)
print(len(name))

my name is Mithil
17

In [22]:
name[8]

'i'

In [23]:
name[-5]

'i'

In [24]:
name[5]

'm'

In [25]:
name[9]

's'

In [26]:
name[-8]

's'

In [27]:
name[-3]

'h'

In [28]:
name[7]

' '

In [29]:
name[-11]

'e'

In [30]:
name[-10]

' '

In [31]:
name[1]

'y'

In [32]:
name[2]

' '

In [33]:
str1="{1} {0} {2}".format('python','programming','language')
str1

'programming python language'

# List

In [34]:
my_list=[1,2,3,4,5]

In [35]:
my_list

[1, 2, 3, 4, 5]

In [36]:
type(my_list)

list

In [37]:
type(my_list[0])

int

In [38]:
x=[1,2,5.1,3.8,"Hello"]

In [39]:
x

[1, 2, 5.1, 3.8, 'Hello']

In [40]:
type(x)

list

In [41]:
x[3]

3.8

In [42]:
x[-1]

'Hello'

In [43]:
type(x[3])

float

In [44]:
x[1:3]

[2, 5.1]

In [45]:
x[4]="hi"

In [46]:
x

[1, 2, 5.1, 3.8, 'hi']

In [47]:
x=input("enter first value")
y=input("enter second value")

enter first value12
enter second value23

In [48]:
x+y

'1223'

In [49]:
z=x+y
z

'1223'

In [50]:
x=int(x)

In [51]:
y=int(y)

In [52]:
x+y

35

# Tuples

In [53]:
b=(1,2,3,4,6)
c=(6,7,9,11,5,4)

In [54]:
type(b)

tuple

In [55]:
type(c)

tuple

In [56]:
b+c

(1, 2, 3, 4, 6, 6, 7, 9, 11, 5, 4)

In [57]:
b*3

(1, 2, 3, 4, 6, 1, 2, 3, 4, 6, 1, 2, 3, 4, 6)

In [58]:
b[3]

4

In [59]:
c[4]

5

In [60]:
b[-3:-1]

(3, 4)

In [61]:
c[-3:]

(11, 5, 4)

# Dictionary
Dictionary is always keys value pair

In [62]:
empl={}
type(empl)

dict

In [63]:
empl["name"]="Mithil"
empl["age"]="20"
empl["Gender"]="m"

In [64]:
empl

{'name': 'Mithil', 'age': '20', 'Gender': 'm'}

In [65]:
empl["name"]

'Mithil'

In [66]:
empl["age"]

'20'

In [67]:
empl["Gender"]

'm'

In [68]:
empl.keys()

dict_keys(['name', 'age', 'Gender'])

In [69]:
empl.values()

dict_values(['Mithil', '20', 'm'])

# Loop
While

In [70]:
count = 0
while(count<9):
    print('the count is:',count)
    count = count+1
print("Mithil Patel")

the count is: 0
the count is: 1
the count is: 2
the count is: 3
the count is: 4
the count is: 5
the count is: 6
the count is: 7
the count is: 8
Mithil Patel

In [71]:
count=0
while(count<9):
    count=count+1
    print('Mithil')

Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil

# While with else

In [72]:
count=0
while count<7:
    print(count,"is less than 7")
    count=count+1
else:
    print(count,"is not less than 7")

0 is less than 7
1 is less than 7
2 is less than 7
3 is less than 7
4 is less than 7
5 is less than 7
6 is less than 7
7 is not less than 7

In [73]:
c=0
while c<7:
    print(c,"Mithil")
    c=c+1
else:
    print(c,"Hello")

0 Mithil
1 Mithil
2 Mithil
3 Mithil
4 Mithil
5 Mithil
6 Mithil
7 Hello

# For Loop

In [74]:
for letter in 'Mithil':
    print('current Letter:',letter)

current Letter: M
current Letter: i
current Letter: t
current Letter: h
current Letter: i
current Letter: l

In [75]:
fruits=['jeans','tshrit','shirt']
for fruit in fruits:
    print('current fruit:',fruit)

current fruit: jeans
current fruit: tshrit
current fruit: shirt

In [76]:
for i in range(10):
    print("Mithil")

Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil
Mithil

# for loop with else

In [83]:
for num in range(10,30):
    for i in range(5,num):
        if num%i==0:
            j=num/i
            print('%d equals %d * %d'%(num,i,j))
            break
        else:
            print(num,'is a prime number')
            break

10 equals 5 * 2
11 is a prime number
12 is a prime number
13 is a prime number
14 is a prime number
15 equals 5 * 3
16 is a prime number
17 is a prime number
18 is a prime number
19 is a prime number
20 equals 5 * 4
21 is a prime number
22 is a prime number
23 is a prime number
24 is a prime number
25 equals 5 * 5
26 is a prime number
27 is a prime number
28 is a prime number
29 is a prime number

In [78]:
from math import pi
pi

3.141592653589793

In [79]:
r=8
print(pi*r*r)

201.06192982974676

In [80]:
r=int(input("enter value of r: "))
print(pi*r*r)

enter value of r: 5
78.53981633974483

# conditional statement

In [81]:
#if statement
 
    
num=int(input("enter value of number:"))
if num>=0:
    if num ==0:
        print(num,' is zero')
    else:
         print(num,'is positive number')
else:
    print(num,'is negative number')

enter value of number:12
12 is positive number

# calculator progrram

In [82]:
#create function for each opration 
#this function add two number

def add(x,y):
    return x+y

#this function substraction two number

def sub(x,y):
    return x-y

#this function multiplication two number

def mul(x,y):
    return x*y

#this function division two number

def div(x,y):
    return x/y

print("Select operation")
print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.division")

choise=input("Enter choice(1/2/3/4): ")

a=int(input("enter the first number:"))
b=int(input("enter the secound number:"))

if choise =='1':
    print(a,"+",b,'=',add(a,b))

elif choise=='2':
    print(a,"-",b,'=',sub(a,b))
    
elif choise=='3':
    print(a,"*",b,'=',mul(a,b))
    
elif choise=='4':
    print(a,"/",b,'=',div(a,b))    
    
else:
    print("invalid input")

Select operation
1.addition
2.subtraction
3.multiplication
4.division
Enter choice(1/2/3/4): 1
enter the first number:2
enter the secound number:5
2 + 5 = 7